@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference-Regular';
    src: url('../fonts/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference-bold';
    src: url('../fonts/GlacialIndifference-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'muli';
    src: url('../fonts/Muli.ttf') format('truetype');
}

@font-face {
    font-family: 'muli-light';
    src: url('../fonts/Muli-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jaapokki-Regular';
    src: url('../fonts/Jaapokki-Regular.otf') format('truetype');
}