*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
    text-decoration: none;
	vertical-align: baseline;
    list-style-type: none;
}
.conteiner {
	width: 100%;
	margin:  0 auto;
}
section {
    margin:0 auto;
}

/* ---1---- */

.first-section {
    background-color: #DDDDDD;
    width:100%;
    max-height: 960px;
    padding: 48px 82px 47px 52px;
}
.roca {
    font-size: 40px;
    font-family: 'Poppins-ExtraBold';
}
.res-template{
    font-family: 'Montserrat-Regular';
    font-size: 13px;
    color: #B3B3B3;
}
.top-line {
    display: flex;
    justify-content: space-between;
}
.no1 {
    font-family: 'Poppins-ExtraBold';
    font-size: 158px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-me {
    font-family: 'Poppins-ExtraBold';
    font-size: 43px;
    color: #373737;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-top: -150px;
}
.mid {
    display: flex;
    justify-content: center;
    gap:15px;
}
.my-info {
    max-width: 582px;
    
}
.personal-photo-slider {
    max-width: 582px;
    max-height: 582px;
}
.icons {
    display: flex;
    gap:10px;
    margin-top: 30px;   
}
.icons img {
    width:100%;
}
.hi {
    font-family: 'GlacialIndifference-Regular';
    font-size: 49px;
}
.name {
    font-family: 'GlacialIndifference-Regular';
    font-size: 71px;
}
.profession {
    font-family: 'GlacialIndifference-Regular';
    font-size: 23px;
    color: #212121;
}
.persentage {
    font-family: 'Montserrat-bold';
   color: #E93656; 
   font-size: 24px;
}
.setisfaction{
    font-family: 'Montserrat-bold';
    font-size: 24px;
}
#myProgress {
    width: 30%;
    height: 6px;
    background-color: grey;
    display: block;
    float: right;
  }
  #myBar {
    width: 100%;
    height: 6px;
    background-color: #E93656;
  }
.progress-bar1 {
    text-align: right;
}
  .mySlides {
    display: none;
    max-width: 582px;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  

  .grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

    /* ---2--- */

.second-section {
    max-width: 100%;
    margin:0 auto;
   
}  
.flex-for-div-3{
    display: flex;
    justify-content: center;
    gap:65.55px;
    margin-top: 135px;
}  
.designer-info {
    max-width: 334px;
    text-align: center;
    margin-left: 10px;
}
.personal-photo {
    max-width: 430px;
}
.persentages {
    max-width: 302px;
}
.personal-photo img{
    max-width: 100%;
}
.status {
    font-family: 'muli';
    font-size: 14px;
    color: #DAAE19;
}
.hire-me{
    color: #ffff;
    background-color: #E93656;
    padding: 13px 46px 17px 53px;
    text-decoration: none;
}
.hire-me:hover{
    font-family: 'GlacialIndifference-bold';
    font-size: 15px;
    background-color:rgb(102, 18, 4);
}
.about-info{
    font-family: 'muli';
    margin-bottom: 60px;
    margin-top: 33px;
}
.skills{
    max-width: 302px;
    margin-right:10px;
}

.persentages {
    width: 100%;
}

.skil {
    color: #555555;
    font-size: 20px;
}
.persent{
    color: #E93656;
    font-size: 20px;
}
.progress-bar {
    height: 9px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px;
    border-radius: 5px;
    background-color: #F0F0F0;
}
.percentage {
    display: block;
    height: 100%;
    background-color: #E93656;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}
.html-skil {
    width: 80%;
}
.css-skil {
    width: 65%;
}
.js-skil {
    width: 55%;
}
.github-skil {
    width: 85%;
}
@keyframes progress {
    from {
        width: 0;
    }
}
#black-icon {
    margin-top: 78px;
}
#black-icon img {
    max-width:30px;
    max-height: 30px;
}

/* ---3--- */

.third-section {
    background-color: #131A36;
    display:flex;
    gap: 41px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 203px;
    margin-top: 100px;
}
.personal-information-icon {
    max-width:30px;
    max-height: 30px;
    border-radius: 50%; 
    transition: all .2s ease-in-out; 
}
.personal-information-icon:hover {
    background-color: #E93656;
    color: white;
    transform: scale(2.1);
  }
.flex{
    display: flex;
    gap:29px;
}
.flex h3 {
    font-family: 'GlacialIndifference-bold';
    color:#FFFFFF;
}
.flex h4{
    font-family: 'muli';
    color:#DFDFDF;
}

/* ---4--- */

.grid-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
    margin-bottom: 160px;
    text-align: center;
    justify-content: center;
}
.image h5 :hover {
    display:none;
}
.box {
    width:230px;
    height: 330px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap:15px;
    background-size: contain;
    position: relative;
    visibility: visible;
    transition: all 1s;
}
.box:hover {
    background-color:#15263E;
}
.box:hover img {
    visibility: hidden;
}
.box:hover h5 {
    visibility: hidden;
}
.absolute-text{
    font-family: 'muli-light';
    font-size: 14px;
    position:absolute;
    color:white;
    opacity: 0;
}
.absolute-text:hover {
    opacity: 1;
}
.box img {
    max-width: 55px;
}

/* ---5--- */

.fifth-section {
    background-image: url('../images/background\ for\ 5th\ section.png');
    padding: 150px 20px;
    background-color: #17273E;
}

.developer_flex {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
    transition: all 1s;
}
.developer_flex_left > div {
    display: flex;
    align-items: center;
}
.developer_img {
    margin-right: 30px;
    width: 120px;
}
.developer_img > img{
    width: 100px;
    padding: 5px;
    border: 1px dashed white;
    border-radius: 100px;
}
.developer_detail > p {
    font-family: 'roboto-light';
    font-size: 15px;
    color: white;
    margin-right: 30px;
    width: 400px;
}
.developer_text {
    width: 200px;
}
.developer_text > h2 {
    font-family: 'GlacialIndifference-bold';
    font-size: 28px;
    color: white;
}
.developer_text > p {
    font-family: 'roboto-regular';
    font-size: 13px;
    color:#DA3D5A;
    padding-top: 20px;
}
.bullets{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}
.btn{
    background-color: #193d04;
    border-color: #FFFFFF;
    width: 13px;
    height: 13px;
} .btn:focus{
    border-color:#E93656;
}


/* ---6--- */

.sixth-section{
    max-width: 100%;
    margin:0 auto;
    margin-top: 144px;
}
.latest-projects h2 {
    font-family: 'GlacialIndifference-bold';
    font-size: 70px;
    text-align: center;
    margin-bottom: 55px;
}
.latest-projects{
    max-width: 1170px;
    margin:0 auto;
}
.sidebar{
    background-color: #15263E;
    padding:50px;
    max-width: 240px;
    max-height: 401px;
}
.sidebar-menu {
    display: flex;
    gap:30px;
}
.navbar-ul li{
   margin-bottom: 10px; 
}
.navbar-ul a {
    font-family: 'GlacialIndifference-bold';
    font-size: 20px;
    color:#FFFFFF;
    font-size: 20px;
}
.photos-in-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.photos-in-grid img {
    width: 100%;
    height: 100%;
}

/* ---7--- */
.news-articles {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 79px;
}
.news-articles h2 {
    font-family: 'GlacialIndifference-bold';
    font-size: 70px;
}
.news-articles h3 {
    font-family: 'GlacialIndifference-bold';
    font-size: 13px;
    color:#2ED279;
}
.news_section {
    display: flex;
}
.news_body {
    padding-top: 50px;
}
.seciont_left {
    display: flex;
    width: 46%;
    background-color: #FAFAFA;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.section_center {
    width: 7%;
    background-color: #17273E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_right {
    width: 47%;
}
.seciont_left  span {
    background-color: white;
    padding: 30px 30px 25px 30px;
    border-radius: 100%;
}
.span-img{
    max-width: 45px;
}
.seciont_left > span:hover {
    background-color: #DA3D5A;
}
.seciont_left  h3 {
    font-family: 'muli';
    font-size: 14px;
    color: #888888;
    margin-top: 34px;
}
.seciont_left  h2 {
    font-family: 'GlacialIndifference-bold';
    font-size: 40px;
    padding-top: 5px;
}
.section-left p {
    font-family: 'muli';
    font-size: 16px;
    color:#494949;
}
.section_center  p {
    font-family: 'GlacialIndifference-bold';
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    color: #DA3D5A;
    font-size: 28px;
}
.section_right  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.right{
    margin-right: 7%;
}
.left{
    margin-left: 7%;
}

/* --8-- */

#news{
    font-family: 'GlacialIndifference-bold';
    font-size: 14px;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 81 px;
   margin-top: 169px;
}
.event{
    color:#2ED279;
    font-size: 14px;
}
.rosa-team{
    font-family: 'GlacialIndifference-bold';
    font-size: 70px;
    margin-bottom: 81px;

}
.our-team{
    display: flex;
    text-align: center;
    justify-content:center;
    
}
.rosateam-section{
    margin-bottom: 155px;
}
.for-hover {
 width: 200px;
 height: 150px;
 border: 1px solid #ff0000;
 margin: 5px;
}
.image-and-text {
 position: relative;
 transition: transform 1s;
 transform-style:preserve-3d;
 text-align: center;

}
.for-hover:hover .image-and-text {
 transform: rotateY(180deg);
}
.image-div, .about-team {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
 text-align: center;
}
.about-team {
   transform: rotateY(180deg);
   justify-content: center;
   text-align: center;
}
.about-team h2{
   font-family: 'Poppins-SemiBold';
   justify-content: center;
   font-size: 20px;
  text-align: center;
}
.about-team p{
    font-family: 'roboto-light';
    font-size: 13px;
    colir:#626262;
}

.team-member-img{
    max-width: 200px;
    height: 150px;
}

/* --9-- */
.contact {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/footer\ cover.png');  
    padding: 120px 0;
    position: relative;
    transition: all 1s;
}
.contact_over {
    background-color: darkgray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.contact-text {
    text-align: center;
    color: white;
    position: relative;
}
.contact-text  h2 {
    font-family: 'Jaapokki-Regular';
    font-size: 45px;
}
.contact-text p {
    font-family: 'roboto-light';
    font-size: 17px;
    color: #EEEEEE;
}
.contact-table {
    position: relative;
    max-width: 890px;
    margin: 0 auto;
    margin-top: 40px;
    
}
.contact-fields  input {
    width: 100%;
    height: 50px;
    padding:0 30px;
    margin: 5px;
}
.contact-fields {
    display: flex;
}
.contact_message{
    text-align: center;
}
.contact_message  textarea {
    width: 100%;
    margin: 5px;
    padding: 30px;
}
.contact-fields input {
    font-family: 'Poppins-SemiBold';
    font-size: 10px;
    color: #515151;
}
.submit {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #DA3D5A;
    padding: 20px;
    color: #DA3D5A;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'GlacialIndifference-bold';
}
.submit:hover {
    background-color: #DA3D5A;
    border: 1px solid #DA3D5A;
    color: white;
}

footer {
    background-color: #282828;
    color: white;
    text-align: center;
    transition: all 1s;
}
footer  h2 {
    font-family: 'Poppins-ExtraBold';
    font-size: 55px;
}
footer  p {
    font-family: 'roboto-regular';
    font-size: 17px;
    color:#A5A5A5;
}
.footer-text {
    padding: 100px;
}
.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.black-line {
    background-color: black;
    padding-top: 27px;
    padding-bottom: 36px;
}
.black-line p{
    font-family: 'muli';
    font-size: 15px;
    color: #A0A8B7;
}