*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
.conteiner {
	width: 100%;
	margin:  0 auto;
}
.first-section {
    background-color: #DDDDDD;
    width:100%;
    max-height: 960px;
    padding: 48px 82px 47px 52px;
}
.roca {
    font-size: 40px;
    font-family: 'Poppins-ExtraBold';
}
.top-line {
    display: flex;
    justify-content: space-between;
}

.no1 {
    
    font-size: 158px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-me {
    font-size: 43px;
    color: #373737;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-top: -110px;
}
.mid {
    display: flex;
    justify-content: center;
    gap:15px;
}
.my-info {
    max-width: 582px;
    
}
.personal-photo-slider {
    max-width: 582px;
    max-height: 582px;
}
.icons {
    display: flex;
    gap:10px;
    margin-top: 30px;
    
}
.icons img {
    width:100%;
}
.hi {
    font-size: 49px;
}
.name {
    font-size: 71px;
}
.profession {
    font-size: 23px;
    color: #212121;
}
.persentage {
   color: #E93656; 
   font-size: 24px;
}
.setisfaction{
    font-size: 24px;
}
#myProgress {
    width: 30%;
    height: 6px;
    background-color: grey;
    display: block;
    float: right;
  }
  
  #myBar {
    width: 100%;
    height: 6px;
    background-color: #E93656;
  }
.progress-bar1 {
    text-align: right;
}
  .mySlides {
    display: none;
    max-width: 582px;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  

  .grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }
.second-section {
    display: flex;
    justify-content: center;
    gap:65.55px;
    margin-top: 135px;
}    
.designer-info {
    max-width: 334px;
    text-align: right;
}
.personal-photo {
    max-width: 430px;
}
.persentages {
    max-width: 302px;
}
.personal-photo img{
    max-width: 100%;
}
.status {
    color: #DAAE19;
}
.hire-me{
    color: #ffff;
    background-color: #E93656;
    padding: 13px 46px 17px 53px;
    text-decoration: none;
}
.hire-me:hover{
    background-color:rgb(102, 18, 4);
}
.about-info{
    margin-bottom: 60px;
    margin-top: 33px;
}
.skills{
    max-width: 302px;
}

.persentages {
    width: 100%;
}

.skil {
    color: #555555;
    font-size: 20px;
}
.persent{
    color: #E93656;
    font-size: 20px;
}
.progress-bar {
    height: 9px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px;
    border-radius: 5px;
    background-color: #F0F0F0;
}
.percentage {
    display: block;
    height: 100%;
    background-color: #E93656;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}
.html-skil {
    width: 80%;
}
.css-skil {
    width: 65%;
}
.js-skil {
    width: 55%;
}
.github-skil {
    width: 85%;
}
@keyframes progress {
    from {
        width: 0;
    }
}
#black-icon {
    margin-top: 78px;
}
#black-icon img {
    max-width:30px;
    max-height: 30px;
}
.third-section {
    background-color: #131A36;
    margin-top: 100px;
    max-height: 210px;
}
.personal-information-icon {
    max-width:30px;
    max-height: 30px;
    border-radius: 50%; 
    transition: all .2s ease-in-out; 
}


.personal-information-icon:hover {
    background-color: #E93656;
    color: white;
    transform: scale(2.1);
  }
.third-section {
    display:flex;
    gap: 41px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 203px;
}
.flex{
    display: flex;
    gap:29px;
}
h3 {
    color:#FFFFFF;
}
h4{
    color:#DFDFDF;
}
.forth-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}